# Dependencies
node_modules/
package-lock.json
yarn.lock

# Expo
.expo/
.expo-shared/
dist/

# Environment
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
